{{!-- templates/item/partials/tier-template.hbs --}}

<!-- Talent Menu Section -->
<div class="talent-menu">
  <div class="form-group">
    <label>{{localize 'ZWOLF.TalentMenu'}}</label>
    {{> rich-editor
        value=tierData.talentMenu
        target=(concat "system.tiers.tier" tierNumber ".talentMenu")
        editable=editable
        owner=owner}}
    <p class="notes">{{localize 'ZWOLF.TalentMenuHint'}}</p>
  </div>
</div>