{{!-- templates/actor/partials/tn-display.hbs --}}
{{!-- 
  Target Number display
  
  Parameters:
  - label: TN label
  - value: TN value
  - tnClass: Optional CSS class
--}}
<div class="tn-item {{tnClass}}">
  <label>{{localize label}}</label>
  <div class="tn-value">{{value}}</div>
</div>
