<!-- Base Creature Selector Component -->
<!-- This component can be used in mook, spawn, and eidolon character sheets -->
<div class="base-creature-selector">
  <div class="header-field base-creature-field">
    <label>Base Creature</label>
    <select name="system.baseCreatureId" class="base-creature-dropdown">
      <option value="">Select Base Creature...</option>
      {{#each availableBaseCreatures as |creature|}}
        <option value="{{creature._id}}" {{#if (eq ../system.baseCreatureId creature._id)}}selected{{/if}}>
          {{creature.name}} ({{capitalize creature.type}})
        </option>
      {{/each}}
    </select>
    {{#if baseCreature}}
      <div class="base-creature-info" title="Using {{baseCreature.name}} as base">
        <i class="fas fa-link"></i>
      </div>
    {{/if}}
  </div>
</div>