<div class="tab tiers-container" data-group="primary" data-tab="tiers">
  <div class="track-tiers">
    <h3>Track Tiers</h3>
    <p class="notes">Configure each tier of this track</p>
    
    {{> tier-accordion 
        tiers=system.tiers 
        owner=owner 
        editable=editable}}
  </div>
</div>