{{!-- templates/item/parts/item-abilities.hbs --}}
<div class="tab" data-group="primary" data-tab="abilities">
  <div class="granted-abilities">
    <div class="abilities-header">
      <h3>{{localize 'ZWOLF.GrantedAbilities'}}</h3>
      {{#if editable}}
      <a class="ability-control" data-action="add-ability" title="{{localize 'ZWOLF.AddAbility'}}">
        <i class="fas fa-plus"></i>
      </a>
      {{/if}}
    </div>
    
    <div class="abilities-list">
      {{#each grantedAbilitiesArray as |ability arrayIndex|}}
        {{> ability-item 
            ability=ability 
            index=ability.index
            nameTarget=ability.nameTarget
            tagsTarget=ability.tagsTarget
            typeTarget=ability.typeTarget
            descriptionTarget=ability.descriptionTarget
            deleteAction="delete-ability"
            editable=../editable}}
      {{else}}
      <div class="no-abilities">
        {{localize "ZWOLF.NoAbilitiesYet"}}
      </div>
      {{/each}}
    </div>
  </div>
</div>