{{!-- templates/item/parts/item-abilities.hbs --}}
<div class="tab" data-group="primary" data-tab="abilities" data-part-id="tab-abilities">
  <div class="granted-abilities">
    <div class="abilities-header">
      <h3>{{localize 'ZWOLF.GrantedAbilities'}}</h3>
      {{#if editable}}
        <button type="button" class="ability-control" data-action="add-ability" title="{{localize 'ZWOLF.AddAbility'}}">
          <i class="fas fa-plus"></i>
        </button>
      {{/if}}
    </div>

    {{!-- All item types: Show abilities as flat list --}}
    {{!-- Track items show tier dropdown, others don't --}}
    <div class="abilities-list">
      {{#each grantedAbilitiesArray as |ability|}}
        {{> ability-item
            ability=ability
            id=ability.id
            index=ability.index
            nameTarget=ability.nameTarget
            tagsTarget=ability.tagsTarget
            typeTarget=ability.typeTarget
            descriptionTarget=ability.descriptionTarget
            tierTarget=ability.tierTarget
            showTier=(eq ../itemType "track")
            deleteAction="delete-ability"
            editable=../editable
            owner=../owner}}
      {{else}}
        <div class="no-abilities">
          {{localize "ZWOLF.NoAbilitiesYet"}}
        </div>
      {{/each}}
    </div>
  </div>
</div>