{{!-- templates/item/item-sheet.hbs --}}
<form class="zwolf-epic sheet item" autocomplete="off">
    {{> header}}

    {{> tabs}}

    <section class="sheet-body">
        {{> tab-summary}}
        {{> tab-abilities}}
        {{> tab-effects}}
        {{> tab-tiers}}
    </section>
</form>

